@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

body {
    margin: 0;
    
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    gap: 15px;
    height: 10%;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: black;
}
.tabs {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.logo {
    flex: 1;
    font-family: 'Spicy Rice';
    font-size: 36px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.tabs:not(.order-button):hover {
    text-decoration: underline 3px chartreuse;
    color: chartreuse;
    text-underline-offset: 8px;
}
.order-button {
    background-color: chartreuse;
    padding: 10px 20px;
    border: solid white;
    border-radius: 10px;
}
.order-button:hover {
    background-color: greenyellow;
}
.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.intro {
    background-color: chartreuse;
    opacity: 0.7;
    padding: 80px;
    border-radius: 20px;
    position: absolute;
    font-size: 24px;
    text-align: center;
}